name: NodeApp Pipeline

on: [push]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Semgrep Scan
      uses: returntocorp/semgrep-action@v1
      with:
        config: p/ci

    - name: Build Docker Image
      run: docker build --no-cache -t secure-node-app .


    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: secure-node-app
        severity: CRITICAL,HIGH
        exit-code: 1
