name: Terraform Validate & Security Scan

on:
  push:
    paths:
      - "terraform/**"
  pull_request:
    paths:
      - "terraform/**"

jobs:
  terraform-security:
    name: Terraform Validate + Checkov + TFSec
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Terraform Init
      - name: Terraform Init
        run: terraform init -backend=false

      # Terraform Validate
      - name: Terraform Validate
        run: terraform validate

      # Run Checkov
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          framework: terraform
          soft_fail: false

      # Run TFSec
      - name: Run TFSec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: terraform
